@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    font-family: "Work Sans";
}
body{   
    background: url(./assets/images/background-pattern-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    flex-wrap: nowrap;
    background-color: hsl(275, 100%, 97%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 550px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 54px -11px hsl(292, 16%, 49%);
}
p{
    font-size: 15pX;
    color: hsl(292, 16%, 49%);
    
}
h1{
    display: flex;
    align-items: center;
}
h5{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width : 375px){
    main{
        width: 340PX;
    }
}
